*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
  background-color: rgb(190, 44, 44);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link{
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
}

.nav-logo img{
  height: 50px;
  width: 50px;
}

/* Fin header */

body {
  height: 100%;
}

h1 {
    text-align: center;
    margin-top: 1%;
    color: rgb(190, 44, 44);
}

h2 {
    color: rgb(190, 44, 44);
    margin-top: 1%;
}

.actu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
}

.article {
    text-align: center;
    border: 2px solid red;
    margin-top: 1%;
    width: 80%;
}

.texte1 {
  display: inline-block;
  text-overflow: Ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.flex {
    display: flex;
    text-align: center;
    align-items: center;
}

.lien {
    display: flex;
    justify-content: flex-end;
}

.photo {
    height: 100px;
    width: 100px;
}
/* Debut footer */

.f2{
    display: flex;
    justify-content: space-evenly;
  }
  
  .f2 >img{
    height: 50px;
    margin-top: 5px;
  }
  
  .footer{
    background-color: rgb(190, 44, 44);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
  }

  .ftxt { 
    text-align: center;
  }
  
  span{
    color: white;
  }