* {
  padding: 0;
  margin: 0;
}

/*---------------------------------------------------------header-----------------------------------------------------------------------*/
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header{
background-color: rgb(190, 44, 44);
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 1.5rem;
}

.hamburger {
display: none;
}

.bar {
display: block;
width: 25px;
height: 3px;
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: white;
}

.nav-menu {
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-item {
margin-left: 2rem;
}

.nav-link{
font-size: 20px;
font-weight: 400;
color: #ffffff;
}



.nav-logo {
font-size: 2.1rem;
font-weight: 500;
color: white;
display: flex;
align-items: center;

}

.nav-logo img{
height: 50px;
width: 50px;
}



@media only screen and (max-width: 900px) {
.nav-menu {
    position: absolute;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: rgb(190, 44, 44);
    width: 100%;
    text-align: center;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 1rem;
}

.hamburger {
    display: block;
    cursor: pointer;
}

}

@media (max-width: 500px) {

.article img {
  margin-left: 25px;
}

.article h3 {
  min-width: 250px;
  }
}

/*---------------------------------------------------------fin header-----------------------------------------------------------------------*/
h2 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-top: 5%;
  color: rgb(190, 44, 44);
}

h3 {
  font-size: 22px;
  color: red;
  text-align: center;
  width: 200px;
  height: 50px;
}

p {
  font-weight: 550;
  text-align: center;
  margin-top: 2%;
  height: 20px;
}

.boutique {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.article {
  padding: 35px;
  min-width: 200px;
  margin-bottom: 50px;
}

.article img {
  width: 200px;
  height: 200px;
}

.button {
  display: flex;
  justify-content: center;
}

button{
  background: rgb(190, 44, 44);
  color: white;
  border-radius: 15px;
  margin-top: 2%;
  height: 30px;
  width: 150px;
}

.buttonsupp {
  display: none;
}

.span {
  border: 1px solid white;
  background-color: white;
  color:rgb(190, 44, 44) ;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 20px;
}

.panier {
  width: 50px;
}

.connexion {
  display: flex;
  justify-content: flex-end;
}
/*---------------------------------------------------------footer-----------------------------------------------------------------------*/

.f2 {
  height: 50px;
  margin-top: 5px;
}

.footer{
  background-color: rgb(190, 44, 44);
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.ftxt {
  background-color: rgb(190, 44, 44);
  text-align: center;
  color: white;
}

/*---------------------------------------------------------fin footer-----------------------------------------------------------------------*/
