* {
    margin: 0;
    padding: 0;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
  background-color: rgb(190, 44, 44);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link{
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}



.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;

}

.nav-logo img{
  height: 50px;
  width: 50px;
}

.test {
  min-height: calc(100vh -  82px - 80px);
  display: flex; 
   justify-content: space-evenly;
}

.formulaire {
  display: flex;
}

h2 {
  margin-top: 20px;
  font-size: 40px;
  margin-bottom: 10px;
}

form {
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.cadre {
   border: 2px solid rgb(190, 44, 44);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 400px;
}


.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  margin-top: 10px;
  font-size: 28px;
}

input{
  margin-bottom: 10px;
  margin-top: 10px;
  border: 2px solid rgb(190, 44, 44);
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

input::placeholder {
  text-align: center;
  color: rgb(190, 44, 44);

}
.checkbox {
  display: flex;
  margin-top: 5px;
justify-content: center;
}

.connecte {
  margin-left: 10px;
  margin-top: 8px;
}

.oubliemdp {
text-decoration: none;
color: rgb(190, 44, 44);
}

.inscrip {
  color: black;
  font-size: 24px;
}

.input2 {
  width: 250px;
}

button {
  background-color: rgb(190, 44, 44);
  border-radius: 15px;
  height: 30px;
  width: 100px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.f2 {
  height: 50px;
  margin-top: 5px;
}

.footer{
  background-color: rgb(190, 44, 44);
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.ftxt {
  background-color: rgb(190, 44, 44);
  text-align: center;
  color: white;
}

@media only screen and (max-width: 500px) {
  .nav-menu {
      position: absolute;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: rgb(190, 44, 44);
      width: 100%;
      text-align: center;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 1rem;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

.test {
  display: flex;
}

  .cadre {
    width: 300px;
  }

  .inscrip {
    text-align: center;
  }

}