* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}