* {
  padding: 0;
  margin: 0;
}

/*---------------------------------------------------------header-----------------------------------------------------------------------*/
.navbar {
  background-color: rgb(190, 44, 44);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hfcbusnes {
  display: flex;
  align-items: center;
  color: white;
}

.hdroite li {
  display: inline-block;
  padding: 15px 20px;
}

.hdroite li:hover {
  background: rgb(170, 86, 86);
}

.navbar ul {
  display: inline-block;
  list-style: none;
}

.hlogotxt {
  text-align: center;
}

.hlogo {
  height: 50px;
  width: 50px;
}

a {
  text-decoration: none;
  color: white;
}

/*---------------------------------------------------------fin header-----------------------------------------------------------------------*/
.title {
  margin-top: 10px;
  text-align: center;
  color: rgb(190, 44, 44);
  font-size: 30px;
  font-weight: 600;
}

.team {
    display: flex;
    justify-content: center;
}

.photo {
  border-radius: 20px;
}

.tableau {
    display: flex;
    justify-content: center;
}

table {
  margin-top: 20px;
  margin-left: 40px;
  text-align: center;
}

th {
  width: 300px;
  border: 1px solid black;
  color: rgb(190, 44, 44);
}

tr td {
  height: 30px;
  width: 300px;
  border: 1px solid black;
}

tbody tr:nth-child(odd) {
  background-color: rgb(190, 44, 44);
  color: white;
}

tbody tr:nth-child(even) {
  background-color: white;
  color: rgb(190, 44, 44);
  font-weight: 900;
}

/*---------------------------------------------------------footer-----------------------------------------------------------------------*/

.f2 {
  display: flex;
  justify-content: space-evenly;
}

.f2 > img {
  height: 60px;
}

.footer {
  background-color: rgb(190, 44, 44);
  color: white;
  position: absolute;
  left: 0;
  right: 0;
}

.footerfb {
  height: 30px;
  width: 30px;
}

.ffbl {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ftxt {
  text-align: center;
}

/*---------------------------------------------------------fin footer-----------------------------------------------------------------------*/
