* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(190, 44, 44);
    color: white;
    text-align: center;
}

.accueil {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25%;
}


body {
    background-color: silver;
}

.box {
    width: 300px;
    background-color: rgb(190, 44, 44);
    text-align: center;
}


button {
    width: 300px;
    height: 50px;
    background-color: rgb(190, 44, 44);
    color: white;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.connexion {
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.logout {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

.date {
    display: flex;
}